

  <div class="grid-view-item__link grid-view-item__image-container">
    {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
    {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
    {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <div class="grid-view-item__image-wrapper js">
        <a href="{{ product.url | within: collection }}">
          <div class="image-inner">
            <div class="reveal">
              <img 
               class="grid-view-item__image lazyload {% unless product.images[1] == blank %} main-img {% endunless %}"
               src="{{ product.featured_image | img_url: '130x168' }}"
               alt="{{ product.featured_image.alt | escape }}">
            </div>
            <div class="hide imgurl-for-quickview">
              {% for image in product.images %}
                <span>{{image | img_url: '370x480'}}</span>
              {% endfor %}
            </div>
          </div>
        </a>
      </div>
      <div class="product-description">
        <div class="product-detail">
          <div class="h4 grid-view-item__title">{{ product.title }}</div>
        </div> 
        <div class="grid-view-item__meta">
          {% include 'product-price' %}
        </div>
      </div>
      <noscript>
        {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
        <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}" style="max-width: {{ max_height | times: product.featured_image.aspect_ratio }}px;">
      </noscript>
  </div>






