{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
%}
  {%- assign social_icons = true -%}
{% endif %}

<div class="content" id="contact">
  <section id="contact-form">
    {% if section.settings.show_banner %}
      <div class="page-width"> 
        <div class="row"> 
          {% comment %}
            Regular page content goes here.
          {% endcomment %}
          {% if page.content.size > 0 %}
            <div class="rte">
              {{ page.content }}
            </div>
          {% endif %}
          <div class="contact-form-information">
            {% if section.settings.image!= blank %}
            <div class="contact-banner col-lg-6 col-md-12">
              <div class="image-container">
                <a href="javascript:void(0);">
                  <img
                    src="{{ section.settings.image | img_url: 'master' }}"
                    data-src="{{ img_url }}"
                    data-sizes="auto"
                    alt="{{ section.settings.image.alt | escape }}">
                </a>
              </div>
            </div>
            {% endif %}
            <div class="information-container {% if section.settings.image!= blank %}col-lg-6 col-md-12{% else%}col-md-12{% endif %}">
              <div class="title-container">
                {% if section.settings.heading != blank %}
                  <h3 class="heading">{{ section.settings.heading | escape }}</h3>
                {% endif %}
                {% if section.settings.subheading != blank %}
                  <span class="subheading">{{ section.settings.subheading | escape }}</span>
                {% endif %}
              </div>
              <div class="list-contact-info col-xs-12">
                <div class="contact_info_item col-xs-6">
                 <h3>{{ 'contact.page.address' | t }}</h3>
                  <p>{{shop.address.street | escape }}</p>
                  <p>{{shop.address.country }}</p>
                </div>
                <div class="contact_info_item col-xs-6">
                  <h3>{{ 'contact.page.phone' | t }}</h3>
                  <p>{{shop.phone}}</p>
                </div>
                <div class="contact_info_item col-xs-6">
                  <h3>{{ 'contact.page.email' | t }}</h3>
                  <p>
                    <a href="mailto:{{shop.email}}">
                      {{shop.email}}
                    </a> 
                  </p>
                </div>
                {% if section.settings.info != blank %}
                  <div class="contact_info_item col-xs-6">
                    <h3>{{ 'contact.page.additionalinfo' | t }}</h3>
                    {{ section.settings.info }}
                  </div>
                 {% endif %}  
                <div class="contact_info_item col-xs-12">
                  <h3>{{ 'contact.page.social' | t }}</h3>
                  <ul class="social-icons">
                    {% if settings.social_facebook_link != blank %}
                      <li class="facebook">
                        <a class="social-icons__link" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}" target="_blank">
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_twitter_link != blank %}
                      <li class="twitter">
                        <a class="social-icons__link" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}" target="_blank">
                          <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_pinterest_link != blank %}
                      <li class="pinterest">
                        <a class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}" target="_blank">
                          <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_instagram_link != blank %}
                      <li class="instagram">
                        <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}" target="_blank">
                          <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_tumblr_link != blank %}
                      <li class="tumblr">
                        <a class="social-icons__link" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}" target="_blank">
                          <i class="fa fa-tumblr" aria-hidden="true"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_snapchat_link != blank %}
                      <li class="snapchat">
                        <a class="social-icons__link" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}" target="_blank">
                          <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_youtube_link != blank %}
                      <li class="youtube">
                        <a class="social-icons__link" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}" target="_blank">
                          <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_vimeo_link != blank %}
                      <li class="vimeo">
                        <a class="social-icons__link" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}" target="_blank">
                          <i class="fa fa-vimeo" aria-hidden="true"></i>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if section.settings.display_google_map and section.settings.google_map_code != blank %}
    <div class="contact-map clearfix">
        <div id="contact-map">
          {% if section.settings.google_map_code != blank %}
          {{ section.settings.google_map_code }}
          {% endif %}
        </div>
    </div>
    {% endif %}
    {% if section.settings.show_form %}
      <div class="contact-form-bottom page-width">
        <div class="contact-form form-vertical">
            <div class="title-container">
              {% if section.settings.formheading != blank %}
                <h3 class="heading">{{ section.settings.formheading | escape }}</h3>
              {% endif %}
              {% if section.settings.formsubheading != blank %}
                <span class="subheading">{{ section.settings.formsubheading | escape }}</span>
              {% endif %}
            </div>
          {% form 'contact' %}

            {% if form.posted_successfully? %}
              <p class="note form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}
            {{ form.errors | default_errors }}
              <div class="row form-field">
                <div class="col-sm-4 col-xs-12">
                  <label for="ContactFormName" class="hidden">{{ 'contact.form.name' | t }}</label>
                  <input type="text" id="ContactFormName" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'contact.form.name' | t }}">
                </div>
                <div class="col-sm-4 col-xs-12">
                  <label for="ContactFormEmail" class="{% if form.errors contains 'email' %}label--error{% endif %} hidden">{{ 'contact.form.email' | t }}</label>
                  <input type="email" id="ContactFormEmail" name="contact[email]" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" class="{% if form.errors contains 'email' %}input--error{% endif %}" placeholder="{{ 'contact.form.email' | t }}">
                </div>
                <div class="col-sm-4 col-xs-12">
                    <label for="ContactFormPhone" class="hidden">{{ 'contact.form.phone' | t }}</label>
                    <input type="tel" id="ContactFormPhone" name="contact[phone]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'contact.form.phone' | t }}">
                </div>              
              <div class="form-group-area col-xs-12">
                <label for="ContactFormMessage" class="hidden">{{ 'contact.form.message' | t }}</label>
                <textarea rows="10" id="ContactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.placeholder' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
              </div>
              <div class="submit-button col-xs-12">
                <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">
              </div>
              </div>
          {% endform %}
        </div>
      </div>
    {% endif %}
  </section>
</div>

{% schema %}
  {
    "name": "Contact Page",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_banner",
        "label": "Show Banner With Address Block",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Contact Banner Image",
        "info": "Size: 570px X 570px"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Get In Touch"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "SubHeading",
        "default": "We'd Love to Hear From You, Lets Get In Touch!"
      },
     {
        "type": "richtext",
        "id": "info",
        "label": "Additional info",
        "default": "<p>We are open: Monday - Saturday, 10AM - 5PM and closed on sunday sorry for that.</p>"
      },
     {
      "type": "checkbox",
      "id": "display_google_map",
      "label": "Display Google Map?",
      "default": true
     },
     {
      "type": "text",
      "id": "google_map_code",
      "label": "Google Map Code"
     },
     {
      "type": "checkbox",
      "id": "show_form",
      "label": "Show Contact Form",
      "default": true
     },
     {
        "type": "text",
        "id": "formheading",
        "label": "Title",
        "default": "Leave Us A Message"
      },
      {
        "type": "text",
        "id": "formsubheading",
        "label": "Subtitle",
        "default": "-Good For Nature, Good For You-"
      }
   ],
    "presets": [
      {
        "name": "Contact Page",
        "category": "Contact"
      }
    ]
}
{% endschema %}

