{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="site-footer" style="{% if section.settings.footerimage != blank %}background-image: url('{{ section.settings.footerimage | img_url: 'master' }}');{% endif %}">
    <div class="footer-container" style="padding: {{ section.settings.space }}px 0;">
      <div class="page-width">
        <div class="row">
            <div class="footer-content store-info-block col-md-3 footer-block">
              <div id="ishistoreinfo-container" class="ishistoreinfo-inner footer-dropdown">
                <div class="store-img">
                  {% capture image_layout %}
                  <div class="feature-row__item">
                    {% if section.settings.image != blank %}
                    <div class="feature-row__image-wrapper js">
                      <div class="img-block">
                        <a href="/">
                          <img 
                          class="feature-row__image lazyload"
                          src="{{ section.settings.image | img_url: '188x60' }}"
                          data-src="{{ img_url }}"
                          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                          data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                          data-sizes="auto"
                          alt="{{ section.settings.image.alt | escape }}">
                        </a>
                      </div>
                    </div>
                    <noscript>
                      {{ section.settings.image | img_url: '600x600', scale: 2 | img_tag: section.settings.image.alt, 'feature-row__image' }}
                    </noscript>
                    {% else %}
                    <a class="footer-heading" href="/" itemprop="url">{{ shop.name }}</a>
                    {% endif %}
                  </div>
                  {% endcapture %}
                  {{ image_layout }}
                </div>
                {% if section.settings.text != blank %}
                <div class="store-desc">{{ section.settings.text }}</div>
                {% endif %}
              </div>
            </div>
            <div id= "_mobile_contact"></div>
            <div class="bottom-link-list footer-block col-md-3">
              {% if section.settings.link1_title != blank %}
              <div class="footer-title clearfix hidden-lg-up collapsed" data-target="#account-info-container" data-toggle="collapse">
                <span class="h3 block-heading">{{ section.settings.link1_title }}</span>
                <span class="navbar-toggler collapse-icons">
                  <i class="material-icons add">&#xE313;</i>
                  <i class="material-icons remove">&#xE316;</i>
                </span>
              </div>
               {% endif %}
              <div id="account-info-container" class="account-info-inner {% if section.settings.link1_title != blank %} collapse{% endif %} footer-dropdown">
                {%- assign footer_linklist_two = section.settings.footer_linklist_two -%}
                {% if linklists[footer_linklist_two].links.size > 0 %}
                 {% if section.settings.link1_title != blank %}
                  <h2 class="footer-heading hidden-lg-down">{{ section.settings.link1_title }}</h2>
                {% endif %}
                  <ul class="site-footer__linklist">
                    {% for link in linklists[footer_linklist_two].links %}
                      <li class="site-footer__linklist-item">
                        <a href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <div class="bottom-link-list footer-information col-md-3 footer-block">
              {% if section.settings.link2_title != blank %}
              <div class="footer-title clearfix hidden-lg-up collapsed" data-target="#product-info-container" data-toggle="collapse">
                <span class="h3 block-heading">{{ section.settings.link2_title }}</span>
                <span class="navbar-toggler collapse-icons">
                  <i class="material-icons add">&#xE313;</i>
                  <i class="material-icons remove">&#xE316;</i>
                </span>
              </div>
              {% endif %}
              <div id="product-info-container" class="product-info-inner {% if section.settings.link2_title != blank %} collapse{% endif %} footer-dropdown">
                
                {%- assign footer_linklist_three = section.settings.footer_linklist_three -%}
                {% if linklists[footer_linklist_three].links.size > 0 %}
  		           {% if section.settings.link2_title != blank %}
                  <h2 class="footer-heading hidden-lg-down">{{ section.settings.link2_title }}</h2>
                {% endif %}
                  <ul class="site-footer__linklist">
                    {% for link in linklists[footer_linklist_three].links %}
                      <li class="site-footer__linklist-item">
                        <a href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <div class="bottom-link-list col-md-3 footer-block">
              {% if section.settings.link3_title != blank %}
              <div class="footer-title clearfix hidden-lg-up collapsed" data-target="#policies-info-container" data-toggle="collapse">
                <span class="h3 block-heading">{{ section.settings.link3_title }}</span>
                <span class="navbar-toggler collapse-icons">
                  <i class="material-icons add">&#xE313;</i>
                  <i class="material-icons remove">&#xE316;</i>
                </span>
              </div>
              {% endif %}
              <div id="policies-info-container" class="policies-info-inner {% if section.settings.link3_title != blank %} collapse{% endif %} footer-dropdown">
                {%- assign footer_linklist_one = section.settings.footer_linklist_one -%}
                {% if linklists[footer_linklist_one].links.size > 0 %}
                  {% if section.settings.link3_title != blank %}
                  <h2 class="footer-heading hidden-lg-down">{{ section.settings.link3_title }}</h2>
                 {% endif %}
                  <ul class="site-footer__linklist">
                    {% for link in linklists[footer_linklist_one].links %}
                      <li class="site-footer__linklist-item">
                        <a href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <div id="_desktop_contact">
            {% if section.settings.show_contact or section.settings.show_address or section.settings.show_email %}
            <div class="footer-content contact-info col-md-3 footer-block">
              <div id="contact-info-container" class="contact-info-inner footer-dropdown">
                {% if section.settings.contactinfotitle != blank %}
                <h2 class="footer-heading hidden-lg-down">{{ section.settings.contactinfotitle }}</h2>
                {% endif %}
                <ul class="site-footer__linklist">
                   {% if section.settings.show_address and shop.address != blank %}
                  <li class="site-footer__linklist-item shop-address">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <div class="content">
                      <p>{{shop.address.street | escape }}</p>
                      <p>{{shop.address.country}}</p>
                    </div>
                  </li>
                  {% endif %}
                  {% if section.settings.show_contact and shop.phone != blank %}
                  <li class="site-footer__linklist-item shop-contact">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <div class="content">
                      <a href="/">
                        {{shop.phone}}
                      </a>
                    </div>
                  </li>
                  {% endif %}
                  {% if section.settings.show_email and shop.email != blank %}
                  <li class="site-footer__linklist-item shop-email">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <div class="content">
                      <a href="mailto:{{shop.email}}">
                      {{shop.email}}
                      </a>  
                    </div>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
            {% endif %}
            </div>
            <div id="ishiservices">
              {% if section.blocks.size > 0 %}
                <div class="ishiservices-content">
                  <div class="" id="services-{{ section.id }}">
                      {% for block in section.blocks %} 
                        {% case block.type %}
                        {% when 'Services' %}
                          <div class="services col-md-3 col-sm-6 col-xs-6">
                            {% if block.settings.link != blank %}
                              <a href="{{ block.settings.link }}">
                            {% endif %}
                              <div class="service-img {% if block.settings.service-image-hover != blank %}service-hover{% endif %}">
                                {% if block.settings.service-image != blank %}
                                  {{ block.settings.service-image | img_tag: block.settings.service-image.alt}}
                                {% endif %}
                                {% if block.settings.service-image-hover != blank %}
                                  <span class="service-img-hover">
                                    {{ block.settings.service-image-hover | img_tag: block.settings.service-image-hover.alt}}
                                  </span>
                                {% endif %}
                              </div>
                              <div class="service-block">
                                <div class="service-title">{{ block.settings.service-title | escape }}</div>
                                 <div class="service-desc">{{ block.settings.service-desc | escape }}</div>
                              </div> 
                            {% if block.settings.link != blank %}
                              </a>
                            {% endif %}
                          </div>
                          {% endcase %}
                      {% endfor %}
                  </div>
                </div>
              {% endif %}
              {% if section.blocks.size == 0 %}
                <div class="placeholder-noblocks">
                  {{ 'homepage.onboarding.no_content' | t }}
                </div>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="page-width">
        <div class="row">
          {% if section.settings.copyright != blank %}
            <div class="{% if section.settings.show_social and section.settings.show_payment %}col-lg-4 col-md-4 col-sm-12{% elsif section.settings.show_social == false and section.settings.show_payment == false %}text-center col-lg-12 col-md-12 col-sm-12{% else %}col-lg-6 col-md-6 col-sm-12{% endif %}">
              <div class="site-footer__copyright--bottom">
                <small class="site-footer__copyright-content">{{ section.settings.copyright }}</small>
              </div>
            </div>
          {% endif %}
          {% if section.settings.show_social %}
            <div class="follow-us{% if section.settings.copyright != blank and section.settings.show_payment %} social-center col-lg-4 col-md-4 col-sm-12{% elsif section.settings.copyright == blank and section.settings.show_payment == false %} social-single-center col-lg-12 col-md-12 col-sm-12{% elsif section.settings.copyright == blank %} social-left col-lg-6 col-md-6 col-sm-12{% elsif section.settings.show_payment == false %} social-right col-lg-6 col-md-6 col-sm-12{% endif %}">
              <div id="social-icon-container" class="social-icon-inner">
                <div class="social-media-blocks">
                  <div class="social-icon-inner">
                    <div class="header-social">
                      <ul class="list--inline site-footer__social-icons social-icons">
                        {% if settings.social_facebook_link != blank %}
                        <li class="facebook">
                          <a class="social-icons__link" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span class="icon__-text">{{ 'general.social.facebook' | t }}</span>
                          </a>
                        </li>
                        {% endif %}
                        {% if settings.social_twitter_link != blank %}
                        <li class="twitter">
                          <a class="social-icons__link" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <span class="icon__-text">{{ 'general.social.twitter' | t }}</span>
                          </a>
                        </li>
                        {% endif %}
                        {% if settings.social_pinterest_link != blank %}
                        <li class="pinterest">
                          <a class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}" target="_blank">
                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                            <span class="icon__-text">{{ 'general.social.pinterest' | t }}</span>
                          </a>
                        </li>
                        {% endif %}
                        {% if settings.social_instagram_link != blank %}
                        <li class="instagram">
                          <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <span class="icon__-text">{{ 'general.social.instagram' | t }}</span>
                          </a>
                        </li>
                        {% endif %}
                        {% if settings.social_tumblr_link != blank %}
                        <li class="tumblr">
                          <a class="social-icons__link" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}" target="_blank">
                            <i class="fa fa-tumblr" aria-hidden="true"></i>
                            <span class="icon__-text">{{ 'general.social.tumblr' | t }}</span>
                          </a>
                        </li>
                        {% endif %}
                        {% if settings.social_snapchat_link != blank %}
                        <li class="snapchat">
                          <a class="social-icons__link" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}" target="_blank">
                            <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
                            <span class="icon__-text">{{ 'general.social.snapchat' | t }}</span>
                          </a>
                        </li>
                        {% endif %}
                        {% if settings.social_youtube_link != blank %}
                        <li class="youtube">
                          <a class="social-icons__link" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}" target="_blank">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            <span class="icon__-text">{{ 'general.social.youtube' | t }}</span>
                          </a>
                        </li>
                        {% endif %}
                        {% if settings.social_vimeo_link != blank %}
                        <li class="vimeo">
                          <a class="social-icons__link" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}" target="_blank">
                            <i class="fa fa-vimeo" aria-hidden="true"></i>
                            <span class="icon__-text">{{ 'general.social.vimeo' | t }}</span>
                          </a>
                        </li>
                        {% endif %}
                        {% if template.name == 'blog' or template.name == 'article' %}
                        <li class="rss">
                          <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom" target="_blank">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                            <span class="icon__-text">{{ 'general.social.rss' | t }}</span>
                          </a>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          {% if section.settings.show_payment %}
            <div class="payment-icons{% if section.settings.copyright != blank and section.settings.show_social %} col-lg-4 col-md-4 col-sm-12{% elsif section.settings.copyright == blank and section.settings.show_social == false %} payment-icons-center col-lg-12 col-md-12 col-sm-12{% else %} col-lg-6 col-md-6 col-sm-12{% endif %}">
              <div class="logo-bar">
                {% if section.settings.show_visa %}
                <div class="logo-bar__item">
                  <div class="logo-bar__link">
                    {% include 'icons' with 'visa' %} 
                  </div>
                </div>
                {% endif %}
                {% if section.settings.show_paypal %}
                <div class="logo-bar__item">
                  <div class="logo-bar__link">
                    {% include 'icons' with 'paypal' %} 
                  </div>
                </div>
                {% endif %}
                {% if section.settings.show_mastercard %}
                <div class="logo-bar__item">
                  <div class="logo-bar__link">
                    {% include 'icons' with 'mastercard' %} 
                  </div>
                </div>
                {% endif %}
                {% if section.settings.show_discover %}
                <div class="logo-bar__item">
                  <div class="logo-bar__link">
                    {% include 'icons' with 'discover' %} 
                  </div>
                </div>
                {% endif %}
                {% if section.settings.show_americanexpress %}
                <div class="logo-bar__item">
                  <div class="logo-bar__link">
                    {% include 'icons' with 'americanexpress' %} 
                  </div>
                </div>
                {% endif %}
                {% if section.settings.show_googlewallet %}
                <div class="logo-bar__item">
                  <div class="logo-bar__link">
                    {% include 'icons' with 'googlewallet' %} 
                  </div>
                </div>
                {% endif %}
                {% if section.blocks.size > 0 %}
                {% for block in section.blocks %}
                {% case block.type %}
                {% when 'logo_image' %}
                <div class="logo-bar__item" {{ block.shopify_attributes }}>
                  <div class="logo-bar__link">
                    {% if block.settings.image != blank %}
                    <img class="logo-bar__image"
                         src="{{ block.settings.image | img_url: '44x30', scale: 2}}"
                         alt="block.settings.image.alt">
                    {% endif %}
                  </div>
                </div>
                {% endcase %}
                {% endfor %}
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div> 
      </div>   
    </div>
</footer>




{% schema %}
  {
    "name": "Footer",
    "settings": [
     {
        "type": "header",
        "content": "Footer Settings"
      },
      {
        "type": "image_picker",
        "id": "footerimage",
        "label": "Background Image",
        "info": "Size: 1920px X 850px"
      },
      {
        "type": "range",
        "id": "space",
        "min": 20,
        "max": 100,
        "step": 10,
        "label": "Internal Box Space/Padding",
        "default": 50
      },
      {
        "type": "header",
        "content": "Store Information Setting"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Store Logo",
        "info":"Size : 188px X 60px"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Store Description",
        "default": "<p>This is Photoshops version of Lorem fenIpsum. Proin gravida nibh sagitt sem nibh id elit. Duis sed odio.</p>"
      },
      {
        "type": "header",
        "content": "Your Account Setting"
      },
      {
        "type": "text",
        "id": "link1_title",
        "label": "Main Title",
        "default": "YOUR ACCOUNT"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "footer-link",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Product Setting"
      },
      {
        "type": "text",
        "id": "link2_title",
        "label": "Main Title",
        "default": "PRODUCTS"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_three",
        "label": "footer-link",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Our Company Setting"
      },
      {
        "type": "text",
        "id": "link3_title",
        "label": "Main Title",
        "default": "OUR COMPANY"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_one",
        "label": "footer-link",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Contact Information Setting"
      },
      {
        "type": "text",
        "id": "contactinfotitle",
        "label": "Main Title",
        "default": "STORE INFORMATION"
      },
      {
        "type": "checkbox",
        "id": "show_address",
        "label": "Show Address",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_contact",
        "label": "Show Contact",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_email",
        "label": "Show Email ID",
        "default": true
      },
      {
        "type": "header",
        "content": "Copyright setting"
      },
      {
        "type": "text",
        "id": "copyright",
        "label": "Copyright Text",
        "default": "<p>© 2020, Trendy Fashion Sectioned Shopify Theme Powered by Shopify</p>"
      },
      {
        "type": "header",
        "content": "Social setting"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show Social Icons",
        "default": true
      },
	  {
        "type": "header",
        "content": "Payment setting"
      },
      {
        "type": "checkbox",
        "id": "show_payment",
        "label": "Show Payment Icons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_visa",
        "label": "Show Visa Icon",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_paypal",
        "label": "Show PayPal Icon",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_mastercard",
        "label": "Show MasterCard Icon",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_discover",
        "label": "Show Discover Icon",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_americanexpress",
        "label": "Show AmericanExpress Icon",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_googlewallet",
        "label": "Show GoogleWallet Icon",
        "default": true
      }
    ],
    "blocks": [
      { 
        "type": "Services",
        "name": "Service",
        "limit": 4,
        "settings": [
          {
            "type": "image_picker",
            "id": "service-image",
            "label": "Image",
            "info": "Size: 35px X 35px"
          },
          {
            "type": "image_picker",
            "id": "service-image-hover",
            "label": "Hover-Image",
            "info": "Size: 35px X 35px"
          },
          {
            "type": "text",
            "id": "service-title",
            "label": "Title",
            "default": "service title"
          },
          {
            "type": "text",
            "id": "service-desc",
            "label": "Sub Title",
            "default": "Lorem ipsum Dolor Site Amet"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link" 
          }
        ]
      },
      {
        "type": "logo_image",
        "name": "Payment Logo",
      
        "settings": [
        
          {
            "type": "image_picker",
            "id": "image",
            "label": "Payment Logo Image",
            "info": "Size: 44px X 30px"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ]
  }
{% endschema %}
