<div id="slider-width">
  <div class="ishislider">
    <div class="slideshow-block">
      {% if section.blocks.size > 0 %}
        <div id="ishislideshow-carousel" class="ishislideshow-carousel-{{ section.id }} owl-carousel owl-theme logo-bar">
          {% for block in section.blocks %}
            <div class="slideshow__item" {{ block.shopify_attributes }}>
              {% if block.settings.link != blank %}
                <a href="{{ block.settings.link }}" class="slideshow__link">
              {% endif %}
              {% if block.settings.image != blank %}
                {{ block.settings.image | img_url: '2048x' | img_tag: block.settings.image.alt, 'logo-bar__image' }}
              {% else %}
                {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
              {% if block.settings.link != blank %}
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if section.blocks.size == 0 %}
        {% include 'no-blocks' %}
      {% endif %}
    </div>
  </div>
</div>

<script>
  jQuery(document).ready(function() {
     $('.ishislideshow-carousel-{{ section.id }}').owlCarousel({
        nav: true,
        loop: true,
        autoplay:true,
        animateOut: 'fadeOut',
        autoplayTimeout:4000,
        navText: [
          '<i class=\'material-icons\'></i>',
          '<i class=\'material-icons\'></i>'
        ],
        items: 1,
        itemsDesktop: false,
        itemsDesktopSmall: false,
        itemsTablet: false,
        itemsMobile: false
    });
  });
</script>

{% schema %}
  {
    "name": "Ishi Slideshow",
    "max_blocks": 5,
    "settings": [
      
    ],
    "blocks": [
      {
        "type": "slide_image",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Size: 1095px X 560px"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Ishi Slideshow",
        "category": "ishi themes",
        "blocks": [
          {
            "type": "slide_image"
          },
          {
            "type": "slide_image"
          },
          {
            "type": "slide_image"
          },
          {
            "type": "slide_image"
          }
        ]
      }
    ]
  }
{% endschema %}