<div class="page-width manufacture-main">
<div class="manufacture-block">
  {% if section.blocks.size > 0 %}
    <div id="manufacture-carousel" class="manufacture-carousel-{{ section.id }} owl-carousel owl-theme logo-bar{% if section.settings.title_enable %} logo-bar--large{% endif %}">
      {% for block in section.blocks %}
        <div class="logo-bar__item" {{ block.shopify_attributes }}>
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}" class="logo-bar__link">
          {% endif %}
          {% if block.settings.image != blank %}
            {{ block.settings.image | img_url: '130x130', scale: 2 | img_tag: block.settings.image.alt, 'logo-bar__image' }}
          {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          {% if block.settings.link != blank %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>
</div>

<script>
  jQuery(document).ready(function() {
     $('.manufacture-carousel-{{ section.id }}').owlCarousel({
      nav: false, // Show next and prev buttons
      navText: [
        '<i class=\'material-icons\'></i>',
        '<i class=\'material-icons\'></i>'
      ],
      dots: false,
      loop: true,
      autoplay: true,
      responsive: {
        0: {
          items: 2
        },
        544: {
          items: 3
        },
        768: {
          items: 4
        },
        992: {
          items: 5
        },
        1200:{
          items: 6
        }
      }
    });
  });
</script>

{% schema %}
  {
    "name": "Ishi Manufactures Block",
    "class": "index-section ishimanufacture",
    "max_blocks": 20,
    "settings": [
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info":"Size : 130px X 130px"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Ishi Manufactures Block",
        "category": "ishi themes",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
