<div data-section-id="{{ section.id }}" data-section-type="sidebar-section">
    {%- if template.name == 'collection' or template.name == 'product' -%}
     {% assign iscategory = 0 %}
      {% for link1 in linklists[section.settings.sidebar_link].links %}
        {% assign iscategory = iscategory | plus: 1 %}
      {% endfor %}
      {%- if iscategory != 0 -%}
      <div class="left-column sidebar-categories">
        <div class="left-title clearfix hidden-lg-up collapsed" data-target="#subcategories-container" data-toggle="collapse">
          <span class="h3 block-heading">
          {% if collection.title != blank %}  
            {{ collection.title | link_to: url }}
          {% else %}
          {{ 'general.category_title.title' | t }} 
          {% endif %}
          </span>
          <span class="navbar-toggler collapse-icons">
              <i class="material-icons add">&#xE313;</i>
              <i class="material-icons remove">&#xE316;</i>
          </span>    
        </div>
        <div class="section-header sidebar-title hidden-lg-down">
              {% if collection.title != blank %}  
            {{ collection.title | link_to: url }}
          {% else %}
          {{ 'general.category_title.title' | t }} 
          {% endif %}  </div>
        <div id="subcategories-container" class="block-categories categories collapse data-toggler">
          <div class="panel-group categories-menu" id="accordion" role="tablist" aria-multiselectable="true">
            {% assign catcount = 0 %}
            {% for link1 in linklists[section.settings.sidebar_link].links %}
              {% assign catcount = catcount | plus: 1 %}
               {% assign low_title1 = collection.title | downcase %}
              {% assign low_title2 = link1.title | downcase %}
              <div class="panel panel-custom categories-items">
                 <div class="panel-heading" role="tab" id="headingOne-{{catcount}}">
                      <h4 class="panel-title link-title">
                        <a href="{{link1.url}}">
                          {{ link1.title }}
                        </a>
                        {% if linklists[link1.handle].links.size > 0 %}
                          <a class="collapse-icon {% if low_title1 != low_title2 %} collapsed {% endif %}" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{catcount}}" aria-expanded="true" aria-controls="collapse-{{catcount}}">
                            <i class="material-icons add">&#xE145;</i>
                             <i class="material-icons remove">&#xE15B;</i>
                          </a>
                        {% endif %}
                      </h4>
                    </div>
                    {% assign low_title1 = collection.title | downcase %}
                    {% assign low_title2 = link1.title | downcase %}
                    <div id="collapse-{{catcount}}" class="panel-collapse dropdown-submenu {% if low_title1== low_title2 %} collapse in {% else %} collapse {% endif %}" role="tabpanel" aria-labelledby="headingOne-{{catcount}}">
                       {% for link in linklists[link1.handle].links %}
                        <div class="panel-body category_submenu">
                            <a href="{{ link.url }}" class="dropdown-item">
                              {{ link.title }} 
                            </a>
                        </div>
                        {% endfor %}
                    </div>
              </div>
              {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}
    {%- if template.name == 'collection' and section.settings.show_filter -%}
        {% assign titleNames = "" %}
        {% assign containsTagsWithoutUnderscores = false %}
        {% for tag in collection.all_tags %}
            {% if tag contains "_" %}
                {% assign title =  tag | split: '_' | first%}
                {% assign titleNames = titleNames | append: title | append : "#"%}
          {% else %}
          {% assign containsTagsWithoutUnderscores = true %}
            {% endif %}
        {% endfor %}
        {% assign titleNames = titleNames | split: "#" | uniq %}
        <div class="left-column tag-filter">
          <div class="left-title clearfix hidden-lg-up collapsed" data-target="#filter-container" data-toggle="collapse">
              <span class="h3 block-heading">{{ 'collections.filters.title_tags' | t }}</span>
              <span class="navbar-toggler collapse-icons">
                <i class="material-icons add">&#xE313;</i>
                <i class="material-icons remove">&#xE316;</i>
              </span>
          </div>
          <label class="label-filter section-header sidebar-title hidden-lg-down">{{ 'collections.filters.title_tags' | t }}</label>
          <div id="filter-container" class="left-inner collapse left-dropdown">
            <div class="filters-toolbar__input filters-toolbar__input--filter" id="SortTags">
                {% if current_tags %}
                  <a href="/collections/{{ collection.handle }}" class="btn btn-primary clear-all">
                    {{ 'collections.filters.all_tags' | t }}
                  </a>
              {% endif %}

                {% for title in titleNames %}
                  <strong>{{ title }} </strong>
                  <ul class="{{ title }}">
                    {% for tag in collection.all_tags %}
                    {% assign value = '' %}
                    {% capture value %} {{ tag | split: '_' | last }} {% endcapture %}
                    {% if tag contains  title  %}
                    <li>
                      <span class="custom-checkbox">
                          <a 
                          {% if current_tags %}
                              href="{{ request.path }}{% unless current_tags contains tag %}+{{ tag | handleize }}{% endunless %}"{% if current_tags contains tag %} data-tagname="{{ tag | handleize }}" class="selected" {% endif %}
                          {% else %}
                              href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}"{% if current_tags contains tag %} {% endif %}
                          {% endif %}
                           >
                            {% if title contains 'color'  %}
                            <span class="filter-color" style="background-color: {{value}}"></span>
                            {% elsif title contains 'size' %}
                            <span class="filter-size">{{ value }}</span>
                            {% else %}
                            <span class="filter-box"></span>{{ value }}
                            {% endif %}
                          </a>
                      </span>
                    </li>
                    {% endif %}
                    {% endfor %}
                  </ul> 
                {% endfor%}   
                {% if containsTagsWithoutUnderscores %}
                  <strong>{{ 'collections.filters.tag_title' | t }} </strong>
                  <ul class="tags">
                    {% for tag in collection.all_tags %}  
                      {% unless tag contains "_" %}
                        <li>
                          <span class="custom-checkbox">
                            <a 
                               {% if current_tags %}
                               href="{{ request.path }}{% unless current_tags contains tag %}+{{ tag | handleize }}{% endunless %}"{% if current_tags contains tag %} data-tagname="{{ tag | handleize }}" class="selected" {% endif %}
                               {% else %}
                               href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}"{% if current_tags contains tag %} {% endif %}
                               {% endif %}
                               >
                              <span class="filter-box"></span>{{ tag }}
                            </a>
                          </span>
                        </li>
                      {% endunless %}
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>
          </div>
        </div>
    {% endif %}
    {%- assign banner1 = true -%}
    {% if template.name != 'index' and section.settings.show_home_page_banner1 == true %}
        {%- assign banner1 = false -%}
    {% endif %}
    {% if banner1 %}
      <div class="left-column banner">
        <div class="left-banner">
            {% capture image_layout %}
              <div class="feature-row__item">
                {% if section.settings.image != blank %}
                  {% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
                  {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id }}{% endcapture %}
                  {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <div class="feature-row__image-wrapper js">
                     <a class="ishi-customhover-{{ section.settings.hover1 }} {% if section.settings.scale_enable1 %}scale{% endif %}" href="{% if section.settings.banner_link != blank %}{{ section.settings.banner_link }}{% else %}/{% endif %}">
                      <img 
                           class="feature-row__image lazyload"
                           src="{{ section.settings.image | img_url: '345x497' }}"
                           data-src="{{ img_url }}"
                           data-widths="[345]"
                           data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                           data-sizes="auto"
                           alt="{{ section.settings.image.alt | escape }}">
                       </a>
                  </div>
                  <noscript>
                    {{ section.settings.image | img_url: '255x331'| img_tag: section.settings.image.alt, 'feature-row__image' }}
                  </noscript>
                {% else %}
                  <a href="/">
                    <img 
                     src="https://via.placeholder.com/345x497/f2f2f2.png?text=Size : 345px X 497px"
                     data-src="https://via.placeholder.com/345x497/f2f2f2.png?text=Size : 345px X 497px"
                     data-widths="[345]"
                     data-sizes="auto"
                     alt="placeholder">
                  </a>
                {% endif %}
              </div>
            {% endcapture %}  
          {{ image_layout }}
        </div>
      </div>
    {% endif %}
    {%- assign product1 = true -%}
    {% if template.name != 'index' and section.settings.show_home_page_product1 == true %}
        {%- assign product1 = false -%}
    {% endif %}
    {% if product1 %}
      <div class="left-column collection-left">
        <div class="left-title clearfix hidden-lg-up" data-target="#left-colletion1-container" data-toggle="collapse">
            <span class="h3 block-heading">{{ section.settings.title | escape }}</span>
            <span class="navbar-toggler collapse-icons">
              <i class="material-icons add">&#xE313;</i>
              <i class="material-icons remove">&#xE316;</i>
            </span>
        </div>
        
        <div id="left-colletion1-container" class="left-inner collapse in left-dropdown">
            <div class="sidebar-collection">
              {% if section.settings.title != blank %}
                <div class="section-header hidden-lg-down">
                  <h2 class="sidebar-title">{{ section.settings.title | escape }}</h2>
                </div>
              {% endif %}

              {%- assign collection = collections[section.settings.collection] -%}

              {% case section.settings.grid %}
                {% when 2 %}
                  {%- assign max_height = 530 -%}
                  {%- assign grid_item_width = 'medium-up--one-half' -%}
                {% when 3 %}
                  {%- assign max_height = 345 -%}
                  {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
                {% when 4 %}
                  {%- assign max_height = 250 -%}
                  {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
                {% when 5 %}
                  {%- assign max_height = 195 -%}
                  {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
              {% endcase %}

              {%- assign product_limit = section.settings.grid  -%}

              <div class="grid grid--uniform grid--view-items products-display">
                {% for product in collection.products limit: product_limit %}
                  <div class="grid__item grid__item--{{section.id}}">
                    {% include 'product-card-left', max_height: max_height %}
                  </div>
                  {% else %}

                  {% for i in (1..product_limit) %}
                    <div class="grid__item .grid__item--{{section.id}}">
                      <div class="grid-view-item">
                        <a href="#" class="grid-view-item__link">
                          <div class="grid-view-item__image">
                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                          </div>
                          <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                          <div class="grid-view-item__meta">
                            {% include 'product-price' %}
                          </div>
                        </a>
                      </div>
                    </div>
                  {% endfor %}
                {% endfor %}
              </div>

              {% if section.settings.show_view_all %}
                <div class="view-all">
                  <a href="{{ collection.url }}" class="view-all-btn btn">
                    {{ 'collections.general.view_all' | t }} <i class="material-icons">navigate_next</i>
                  </a>
                </div>
              {% endif %}
            </div>
        </div>
      </div>
    {% endif %}
    {% if template.name == 'index' %}
      <div class="left-column block_newsletter">
        <div class="left-title clearfix hidden-lg-up collapsed" data-target="#newsletter-container" data-toggle="collapse">
          <span class="h3 block-heading">{{ section.settings.newslettertitle | escape }}</span>
          <span class="navbar-toggler collapse-icons">
            <i class="material-icons add">&#xE313;</i>
            <i class="material-icons remove">&#xE316;</i>
          </span>
        </div>
        <div id="newsletter-container" class="left-inner collapse">
          {% if section.settings.newslettertitle != blank %}
            <div class="section-header hidden-lg-down">
              <h2 class="sidebar-title title_block">{{ section.settings.newslettertitle | escape }}</h2>
            </div>
          {% endif %}
          <div id="newsletter">
            <div class="newsletter_text">
              {% if section.settings.newslettertitle != blank %}
               <span class="mail-icon">{% include 'icons' with 'mail' %} </span>
                <h3 class="title_block">{{ section.settings.newslettersubtitle | escape }}</h3>
              {% endif %}
              {% if section.settings.newslettersubtitle != blank %}
                <p class="block-newsletter-label">{{ section.settings.newsletterdescription | escape }}</p>
              {% endif %} 
            </div>
            <div class="newsletter_form">
              <div class="site-footer__newsletter col-lg-12">
                {% form 'customer' %}
                  {% if form.posted_successfully? %}
                    <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                  {% else %}
                    <div class="input-group">
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <input type="email"
                        name="contact[email]"
                        id="Email"
                        class="input-group__field newsletter__input"
                        value="{% if customer %}{{ customer.email }}{% endif %}"
                        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        autocapitalize="off">
                      <span class="input-group__btn">
                        <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                          <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}
                            </span>
                        </button>
                      </span>
                    </div>
                  {% endif %}
                  {{ form.errors | default_errors }}
                {% endform %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
	{%- assign product2 = true -%}
    {% if template.name != 'index' and section.settings.show_home_page_product2 == true %}
        {%- assign product2 = false -%}
    {% endif %}
    {% if product2 %}
      <div class="left-column collection-left">
        <div class="left-title clearfix hidden-lg-up" data-target="#left-collection2-container" data-toggle="collapse">
            <span class="h3 block-heading">{{ section.settings.title-new-product | escape }}</span>
            <span class="navbar-toggler collapse-icons">
              <i class="material-icons add">&#xE313;</i>
              <i class="material-icons remove">&#xE316;</i>
            </span>
        </div>
        <div id="left-collection2-container" class="left-inner collapse in left-dropdown">
          <div class="sidebar-collection">
          {% if section.settings.title-new-product != blank %}
            <div class="section-header hidden-lg-down">
              <h2 class="sidebar-title">{{ section.settings.title-new-product | escape }}</h2>
            </div>
          {% endif %}

          {%- assign collection = collections[section.settings.collection1] -%}

          {% case section.settings.grid1 %}
            {% when 2 %}
              {%- assign max_height = 530 -%}
              {%- assign grid_item_width = 'medium-up--one-half' -%}
            {% when 3 %}
              {%- assign max_height = 345 -%}
              {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
            {% when 4 %}
              {%- assign max_height = 250 -%}
              {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
            {% when 5 %}
              {%- assign max_height = 195 -%}
              {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
          {% endcase %}

          {%- assign product_limit = section.settings.grid1  -%}


          <div class="grid grid--uniform grid--view-items products-display">
          {% for product in collection.products limit: product_limit %}
          <div class="grid__item grid__item--{{section.id}}">
            {% include 'product-card-left', max_height: max_height %}
          </div>
          {% else %}

          {% for i in (1..product_limit) %}
            <div class="grid__item .grid__item--{{section.id}}">
              <div class="grid-view-item">
                <a href="#" class="grid-view-item__link">
                  <div class="grid-view-item__image">
                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                    {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                  <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                  <div class="grid-view-item__meta">
                    {% include 'product-price' %}
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
      {% if section.settings.show_view_all1 %}
        <div class="view-all">
          <a href="{{ collection.url }}" class="view-all-btn btn">
            {{ 'collections.general.view_all' | t }} <i class="material-icons">navigate_next</i>
          </a>
        </div>
      {% endif %}
    

    </div>
    </div>
    </div>
    {% endif %}
    {%- assign banner2 = true -%}
    {% if template.name != 'index' and section.settings.show_home_page_banner2 == true %}
        {%- assign banner2 = false -%}
    {% endif %}
    {% if banner2 %} 
      <div class="left-column banner">
        <div class="leftbottombannerr">
            {% capture image_layout %}
              <div class="feature-row__item">
                {% if section.settings.leftbottombannerimage != blank %}
                  {% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
                  {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id }}{% endcapture %}
                  {%- assign img_url = section.settings.leftbottombannerimage | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <div class="feature-row__image-wrapper js">
                     <a class="ishi-customhover-{{ section.settings.leftbottombannerhover1 }} {% if section.settings.leftbottombannerscale_enable1 %}scale{% endif %}" href="{% if section.settings.leftbottombanner_link != blank %}{{ section.settings.leftbottombanner_link }}{% else %}/{% endif %}">
                      <img 
                           class="feature-row__image lazyload"
                           src="{{ section.settings.leftbottombannerimage | img_url: '345x497' }}"
                           data-src="{{ img_url }}"
                           data-widths="[345]"
                           data-aspectratio="{{ section.settings.leftbottombannerimage.aspect_ratio }}"
                           data-sizes="auto"
                           alt="{{ section.settings.leftbottombannerimage.alt | escape }}">
                       </a>
                  </div>
                  <noscript>
                    {{ section.settings.leftbottombannerimage | img_url: '255x331'| img_tag: section.settings.leftbottombannerimage.alt, 'feature-row__image' }}
                  </noscript>
                {% else %}
                  <a href="/">
                    <img 
                     src="https://via.placeholder.com/345x497/f2f2f2.png?text=Size : 345px X 497px"
                     data-src="https://via.placeholder.com/345x497/f2f2f2.png?text=Size : 345px X 497px"
                     data-widths="[345]"
                     data-sizes="auto"
                     alt="placeholder">
                  </a>
                {% endif %}
              </div>
            {% endcapture %}  
          {{ image_layout }}
        </div>
      </div>
    {% endif %}
    {% if template.name == 'index' %}
      <div id="ishitestimonials" class="left-column">
        <div class="left-title clearfix hidden-lg-up collapsed" data-target="#ishitestimonials-container" data-toggle="collapse">
          <span class="h3 block-heading">{{ section.settings.testimonialtitle | escape }}</span>
          <span class="navbar-toggler collapse-icons">
            <i class="material-icons add">&#xE313;</i>
            <i class="material-icons remove">&#xE316;</i>
          </span>
        </div>
        <div id="ishitestimonials-container" class="left-inner collapse">
          {% if section.settings.testimonialtitle != blank %}
            <div class="section-header hidden-lg-down">
              <h2 class="sidebar-title">{{ section.settings.testimonialtitle | escape }}</h2>
            </div>
          {% endif %}
          <div class="parallax">
              <div id="testimonials">
                {% assign i = 1 %}
                {% if section.blocks.size > 0 %}
                  <div class="ishitestimonials-container">
                      <ul id="ishitestimonials-carousel" class="owl-carousel">
                        {% for block in section.blocks %}
                          <li id="ishitestimonials_{{ i }}" class="item">
                            <div class="ishitestimonials-container">
                              {% if block.settings.description != blank %}
                                <div class="user-description">
                                  <span class="quote">{% include 'icons' with 'quote' %}</span>
                                  {{ block.settings.description }}
                                </div>
                              {% endif %}
                              <div class="testimonial-img">
                                {% if block.settings.image != blank %}
                                  <img 
                                   src="{{ block.settings.image | img_url: '100x100' }}"
                                   data-src="{{ img_url }}"
                                   data-widths="[100]"

                                   data-sizes="auto"
                                   alt="{{ block.settings.image.alt | escape }}">
                                   {% else %}
                                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }} 
                                {% endif %}   
                              </div>
                                <div class="user-info">
                                  
                                  {% if block.settings.user-name != blank %}            
                                  <span class="user-name">
                                    {{ block.settings.user-name | escape }}
                                  </span>
                                  {% endif %}
                                  {% if block.settings.designation != blank %}
                                  <span class="user-designation">
                                    {{ block.settings.designation | escape }}
                                  </span> 
                                  {% endif %}         
                              </div>
                            </div>
                            {% assign i = i | plus: 1 %} 
                          </li>
                        {% endfor %}
                      </ul>
                  </div>
                {% endif %}
              </div>
            {% if section.blocks.size == 0 %}
              {% include 'no-blocks' %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}

</div>


{% schema %}
  {
    "name": "Sidebar",
    "settings": [
      {
        "type": "header",
        "content": "Category Menu Block Configuration",
 		"info": "This section is not shown on the Homepage"
      },
      {
        "type": "link_list",
        "id": "sidebar_link",
        "label": "Select Category Menu"
      },
      {
        "type": "header",
        "content": "Filter Configuration",
		"info": "This section is not shown on the Homepage"
      },
      {
        "type": "checkbox",
        "id": "show_filter",
        "label": "Show Filter",
        "default": true
      },
      {
        "type": "header",
        "content": "Left Banner Block Configuration"
      },
      {
        "type": "checkbox",
        "id": "show_home_page_banner1",
        "label": "Show on Homepage only?",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info":"Size : 345px X 497px"
      },
      {
        "type": "checkbox",
        "id": "scale_enable1",
        "label": "Scale Banner",
        "default": false
      },
      {
         "type": "select",
         "id": "hover1",
         "options": [
            { "value": "fadeinnormal", "label": "FadeIn Normal"},
            { "value": "fadeinflip", "label": "FadeIn Flip"},
            { "value": "fadeinrotate", "label": "FadeIn Rotate"},
            { "value": "fadeinrotate3D", "label": "FadeIn Rotate3D"},
            { "value": "fadeintop", "label": "FadeIn Top"},
            { "value": "fadeinbottom", "label": "FadeIn Bottom"},
            { "value": "fadeintopbottom", "label": "FadeIn Top Bottom"},
            { "value": "fadeoutcenter", "label": "FadeOut Center"},
            { "value": "fadeinoutbordercorner", "label": "FadeInOut BorderCorner"},
            { "value": "doublefadeincenter", "label": "Double FadeInOut Center"},
            { "value": "fadeinoutsingle", "label": "FadeInOut Single Scroll"},
            { "value": "fadeinoutdoublevertical", "label": "FadeInOut Double Scroll"},
            { "value": "perspective", "label": "Perspective"},
            { "value": "fadeinoutrotatevertical", "label": "FadeInOut Rotate Vertical"}
         ],
         "label": "Hover"
      },
      {
        "type": "url",
        "id": "banner_link",
        "label": "Link"
      },
      {
        "type": "header",
        "content": "Collection-1 Block Configuration"
      },
      {
        "type": "checkbox",
        "id": "show_home_page_product1",
        "label": "Show on Homepage only?",
        "default": false
      },
      {
        "type": "text",
        "id": "title",
        "label": "Main Title",
        "default": "FEATURED COLLECTION"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Select Your Collection"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Products To Display In Collection",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 3
      },     
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show 'View All' Button For Collection",
        "default": false
      },
	  {
        "type": "header",
        "content": "Newsletter Configuration",
		"info": "This section is shown on the Homepage"
      },
      {
        "type": "text",
        "id": "newslettertitle",
        "label": "Main Title",
        "default": "NEWSLETTER"
      },
      {
        "type": "text",
        "id": "newslettersubtitle",
        "label": "Sub title",
        "default": "SIGN UP & GET NEWS"
      },
      {
        "type": "text",
        "id": "newsletterdescription",
        "label": "Description",
        "default": "Contrary to popular belief, Lorem is not simply random text"
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      },
      {
        "type": "header",
        "content": "Collection-2 Block Configuration"
      },
      {
        "type": "checkbox",
        "id": "show_home_page_product2",
        "label": "Show on Homepage only?",
        "default": true
      },
      {
        "type": "text",
        "id": "title-new-product",
        "label": "Main Title",
        "default": "SPECIAL COLLECTION"
      },
      {
        "id": "collection1",
        "type": "collection",
        "label": "Select Your Collection"
      },
      {
        "type": "range",
        "id": "grid1",
        "label": "Products To Display In Collection",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "show_view_all1",
        "label": "Show 'View All' Button For Collection",
        "default": false
      },
      {
        "type": "header",
        "content": "Left BottomBanner Block Configuration"
      },
      {
        "type": "checkbox",
        "id": "show_home_page_banner2",
        "label": "Show on Homepage only?",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "leftbottombannerimage",
        "label": "Image",
        "info":"Size : 345px X 497px"
      },
      {
        "type": "checkbox",
        "id": "leftbottombannerscale_enable1",
        "label": "Scale Banner",
        "default": false
      },
      {
         "type": "select",
         "id": "leftbottombannerhover1",
         "options": [
            { "value": "fadeinnormal", "label": "FadeIn Normal"},
            { "value": "fadeinflip", "label": "FadeIn Flip"},
            { "value": "fadeinrotate", "label": "FadeIn Rotate"},
            { "value": "fadeinrotate3D", "label": "FadeIn Rotate3D"},
            { "value": "fadeintop", "label": "FadeIn Top"},
            { "value": "fadeinbottom", "label": "FadeIn Bottom"},
            { "value": "fadeintopbottom", "label": "FadeIn Top Bottom"},
            { "value": "fadeoutcenter", "label": "FadeOut Center"},
            { "value": "fadeinoutbordercorner", "label": "FadeInOut BorderCorner"},
            { "value": "doublefadeincenter", "label": "Double FadeInOut Center"},
            { "value": "fadeinoutsingle", "label": "FadeInOut Single Scroll"},
            { "value": "fadeinoutdoublevertical", "label": "FadeInOut Double Scroll"},
            { "value": "perspective", "label": "Perspective"},
            { "value": "fadeinoutrotatevertical", "label": "FadeInOut Rotate Vertical"}
         ],
         "label": "Hover"
      },
      {
        "type": "url",
        "id": "leftbottombanner_link",
        "label": "Link"
      },
      
      {
        "type": "header",
        "content": "Testimonial Configuration",
		"info": "This section is shown on the Homepage"
      },
      {
        "type": "text",
        "id": "testimonialtitle",
        "label": "Main title",
        "default": "OUR CLIENT SAY"
      }

    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "header",
            "content": "Testimonial"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Testimonial Image",
            "info":"Size : 100px X 100px"
          },
          {
            "type": "text",
            "id": "user-name",
            "label": "Testimonial's Name",
            "default": "John Duff"
          },
          {
            "type": "text",
            "id": "designation",
            "label": "Testimonial's Designation",
            "default": "Web Designer"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non eros tellus. Phasellus nec iaculis sapien.</p>"
          }
        ]
      }
    ]
  }
  
{% endschema %}
