<div id="ishibottombannerblock">
  <div class="ishibottombannerblock-container">
    <div class="row">
      <div id="ishibottombanner" class="ishibottombanner-container col-md-12 col-sm-12 col-xs-12">
        <div class="image-container">
          {% if section.settings.image != blank %}
          <a class="ishi-customhover-{{ section.settings.bannerhover }} {% if section.settings.banner_scale_enable %}scale{% endif %}" href="{% if section.settings.banner_link != blank %}{{ section.settings.banner_link }}{% else %}/{% endif %}">
          <img 
             src="{{ section.settings.image | img_url: '1095x250' }}"
             data-src="{{ img_url }}"
             data-widths="[1095]"

             data-sizes="auto"
             alt="{{ section.settings.image.alt | escape }}">
          </a>
           {% else %}
            <a href="/">
              <img 
               src="https://via.placeholder.com/1095x250/f2f2f2.png?text=Size : 1095px X 250px"
               data-src="https://via.placeholder.com/1095x250/f2f2f2.png?text=Size : 1095px X 250px"
               data-widths="[1095]"
               data-sizes="auto"
               alt="placeholder">
            </a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Ishi Bottom Banner",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info":"Size : 1095px X 200px"
      },
      {
        "type": "checkbox",
        "id": "banner_scale_enable",
        "label": "Scale Banner",
        "default": false
      },
      {
        "type": "select",
        "id": "bannerhover",
        "label": "Hover",
        "options": [
            { "value": "fadeinnormal", "label": "FadeIn Normal"},
            { "value": "fadeinflip", "label": "FadeIn Flip"},
            { "value": "fadeinrotate", "label": "FadeIn Rotate"},
            { "value": "fadeinrotate3D", "label": "FadeIn Rotate3D"},
            { "value": "fadeintop", "label": "FadeIn Top"},
            { "value": "fadeinbottom", "label": "FadeIn Bottom"},
            { "value": "fadeintopbottom", "label": "FadeIn Top Bottom"},
            { "value": "fadeoutcenter", "label": "FadeOut Center"},
            { "value": "fadeinoutbordercorner", "label": "FadeInOut BorderCorner"},
            { "value": "doublefadeincenter", "label": "Double FadeInOut Center"},
            { "value": "fadeinoutsingle", "label": "FadeInOut Single Scroll"},
            { "value": "fadeinoutdoublevertical", "label": "FadeInOut Double Scroll"},
            { "value": "perspective", "label": "Perspective"},
            { "value": "fadeinoutrotatevertical", "label": "FadeInOut Rotate Vertical"}
        ]
      },
      {
        "type": "url",
        "id": "banner_link",
        "label": "Link"
      }
    ],
    "presets": [
      {
        "name": "Ishi Bottom Banner Block",
        "category": "ishi themes"
      }
    ]
  }
{% endschema %}
