<div class="page-width">
  <div class="grid">
    <div class="grid__item login-page">

      <div class="form-vertical card-block">
        {% form 'create_customer' %}

          <h1 class="text-center">{{ 'customer.register.title' | t }}</h1>
          <div class="js-address-form">
            {{ form.errors | default_errors }}

            <label for="FirstName" class="required">{{ 'customer.register.first_name' | t }}</label>
            <input type="text" name="customer[first_name]" placeholder="{{ 'customer.register.fn_placeholder' | t }}" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus>

            <label for="LastName" class="required">{{ 'customer.register.last_name' | t }}</label>
            <input type="text" name="customer[last_name]" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} placeholder="{{ 'customer.register.ln_placeholder' | t }}">

            <label for="Email">{{ 'customer.register.email' | t }}</label>
            <input type="email" name="customer[email]" id="Email" class="{% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} placeholder="{{ 'customer.register.email_placeholder' | t }}"  autocapitalize="off">

            <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
            <input type="password" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %}" placeholder="{{ 'customer.register.password_placeholder' | t }}">

            <p class="text-center">
              <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
            </p>

            <p class="new-account">
              <span>{{ 'layout.customer.new_register' | t }}</span> {{ 'layout.customer.log_in' | t | customer_login_link }}
            </p>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>
